body{
    background: #161616;
}
#Menu{
    width: 100%;
    height: 7%;
    position: absolute;
    top:0%;
    left: 0%;
}
#Menu button{
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: White;
    text-shadow: 0px 0px 10px Black;
    position: relative;
    left: 50%;
    width:7%;
    top: 0%;
    height: 50px;
    outline: none;
}
#Menu button:focus,button::after{
    color:Cyan;
    background: Black;
    border-bottom: 4px solid Cyan;
}
#Heading{
    color: White;
    font-size: 18px;
    font-family: Arial;
    position: absolute;
    top: -4px;
    left: 4%;
}
::selection{
    background: none;
}
#Container{
    color:White;
    font-family: Arial;
    text-align: center;
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0px;
    background-color: #111111;
    top:52px;
}
#Container a{text-decoration: none;color: orange; position: relative;top: 75%;cursor: pointer;}
#Container button{
    width: 200px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: Blue;
    font-size: 24px;
    position: absolute;
    box-shadow: 0px 0px 10px Cyan;
    color: White;
    outline: none;
    top: 340px;
    left: 800px;
    transition: 2s;
}
