*{behavior: url(PIE.htc);}
* *{behavior: url(PIE.htc);}

body{
    background: url("https://wallpapersmug.com/download/1366x768/6e2d2e/city-night-buildings-reflections-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}
#Menu{
    width: 100%;
    height: 7%;
    position: fixed;
    top:0%;
    background-color: #fff2;
    left: 0%;
}
#Menu button{
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    top: 0px;
    height: 100%;
    outline: none;
}
#Menu button:hover{background: #fff3;}
#Menu button:focus,button::after{
    background: #fff4;
}
#Heading{
    font-size: 18px;
    font-family: Arial;
    position: fixed;
    top: -0.61%;
    left: 0.73%;
}
::selection{
    background: none;
}
#Container{
    font-family: Arial;
    text-align: center;
    width: 100%;
    height: 92.08%;
    position: fixed;
    left: 0px;
    top:7.91%;
}
#Container a{text-decoration: none;color: orange; position: relative;top: 75%;cursor: pointer;}
#Container a:hover{text-decoration: underline;}
#Container a:active,#Container a:focus{color: #ff0500;text-decoration: underline;}

#Container #downnow{
    padding: 16px;
    padding-right: 22px;
    padding-left: 22px;
    border: none;
    cursor: pointer;
    background-color: Blue;
    font-size: 24px;
    position: fixed;
    color: #fff;
    border-radius: 12px;
    outline: none;
    top: 59.36%;
    left: 50.51%;
    transition: 1s;
}
#Container #downnow:hover{background: #04f;}
#Container #downnow:active{background: #08f;}

#Container #launchnow{
    padding: 16px;
    padding-right: 22px;
    padding-left: 22px;
    border: none;
    cursor: pointer;
    background-color: #ff4500;
    font-size: 24px;
    position: fixed;
    color: #fff;
    border-radius: 12px;
    outline: none;
    top: 59.36%;
    left: 910px;
    transition: 1s;
}
#Container #launchnow:hover{background: #ff2500;}
#Container #launchnow:active{background: #ff0500;}
.message{
    position: fixed;
    bottom: 3.04%;
    font-size: 18px;
    color: Black;
    background: #fff6;
    padding: 5px;
    padding-left: 15px;padding-right: 15px;
    border-radius: 5px;
}
.dl{
    position: fixed;
    left: 13%;
    margin-left: 1.46%;
    color: #80f;
}
.info{
    max-width: 500px;
}
#Container #copyright{
    position: absolute;
    top: 90%;
    left: 56%;
    color: Red;
    font-weight: 900;
    padding: 0.366%;
    text-shadow: 0 0 10px White;
}
#Version{
    background: linear-gradient(to right,Cyan,Yellow);
    -webkit-background-clip: text;
    color: transparent;
    cursor: default;
}
@media screen and (max-width:1024px){
    #Compatibility{
        top: 38%;
    }
    #Version{
        left: 68%;
    }
    #launchnow{
        left: -100px;
    }
    .dl{
        left: 18%;
    }
}
@media screen and (width:1024px){
    #Compatibility{
        top: 38%;
    }
    #Version{
        left: 68%;
    }
    #launchnow{
        left: -100px;
    }
    .dl{
        left: 18%;
    }
}
@media screen and (min-width:1920px){
    *{font-size: 32px;}
    #Heading{
        font-size: 32px;
        margin-left: 20px;
        font-family: Arial;
    }
    #Menu button{
        padding-right: 40px;
        padding-left: 40px;
        font-size: 32px;
        font-family: Arial;
    }
    .info{
        font-size: 32px;
        max-width: 1000px;
    }
    #Compatibility{
        font-size: 32px;
        top: 430px;
    }
    #Version{
        font-family: 'Arial';
        font-size: 48px;
        top: 540px;
        left: 1250px;
    }
    .message{
        left: 40px;
        bottom: 30px;
        font-family: 'Arial';
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 32px;
        border-radius: 10px;
    }
    #Container #copyright{
        left: -48px;
    }
    #Container #downnow{
        font-size: 46px;
        padding: 25px;
        border-radius: 20px;
    }
    #Container #launchnow{
        font-size: 46px;
        padding: 25px;
        left: 1350px;
        border-radius: 20px;
    }
}
@media screen and (width:1920px){
    *{font-size: 32px;}
    #Heading{
        font-size: 32px;
        margin-left: 20px;
        font-family: Arial;
    }
    #Menu button{
        padding-right: 40px;
        padding-left: 40px;
        font-size: 32px;
        font-family: Arial;
    }
    .info{
        font-size: 32px;
        max-width: 1000px;
    }
    #Compatibility{
        font-size: 32px;
        top: 430px;
    }
    #Version{
        font-family: 'Arial';
        font-size: 48px;
        top: 540px;
        left: 1250px;
    }
    .message{
        left: 40px;
        bottom: 30px;
        font-family: 'Arial';
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 32px;
        border-radius: 10px;
    }
    #Container #copyright{
        left: -48px;
    }
    #Container #downnow{
        font-size: 46px;
        padding: 25px;
        border-radius: 20px;
    }
    #Container #launchnow{
        font-size: 46px;
        padding: 25px;
        left: 1350px;
        border-radius: 20px;
    }
}