body{
    background: url("https://wallpaperaccess.com/full/2149488.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#Menu{
    width: 100%;
    height: 6.9999%;
    position: absolute;
    top:0%;
    background-color: #0001;
    left: 0%;
}
#Menu button{
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    color: #fff;
    width:7%;
    top: 0px;
    height: 46px;
    outline: none;
}
#Menu button:hover{background: #0002;}
#Menu button:focus,button::after{
    background: #0004;
}
#Heading{
    font-size: 18px;
    font-family: Arial;
    position: absolute;
    top: -4px;
    left: 4%;
}
::selection{
    background: none;
}
#Container{
    font-family: Arial;
    text-align: center;
    width: 100%;
    height: 605px;
    position: absolute;
    left: 0px;
    top:52px;
}
#Container a{text-decoration: none;color: orange; position: relative;top: 75%;cursor: pointer;}
#Container #downnow{
    width: 200px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: Blue;
    font-size: 24px;
    position: absolute;
    color: #fff;
    border-radius: 12px;
    outline: none;
    top: 340px;
    left: 690px;
    transition: 1s;
}
#Container #downnow:hover{background: #04f;}
#Container #downnow:active{background: #08f;}

#Container #launchnow{
    width: 200px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: #ff4500;
    font-size: 24px;
    position: absolute;
    color: #fff;
    border-radius: 12px;
    outline: none;
    top: 340px;
    left: 920px;
    transition: 1s;
}
#Container #launchnow:hover{background: #ff2500;}
#Container #launchnow:active{background: #ff0500;}
.message{
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    color: Black;
    background: #fff6;
    padding: 5px;
    padding-left: 15px;padding-right: 15px;
    border-radius: 5px;
}