@import 'loading.css';
@import 'container.css';
@import 'controls.css';



* {
    opacity: 1;
    cursor: default;
}

::selection{display: none}

body,html {
    background: #111;
    overflow: hidden;
    zoom: 1;
}